body {
    font-family: "Google Sans Flex", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px;
	color: #333;
}
h1, h2, h3 { line-height: 1;}
h1 { font-size: 1.75em; margin: 0; color: #1565C0;}
h2 { font-size: 1.4em; margin-top: 1.5rem;}
h3 { font-size: 1.2em; margin-top: 2rem;}
h4 { font-size: 1.15em; }
pre { background: #f4f4f4; padding: 12px; border-radius: 5px; overflow-x: auto; border: 0px solid #336699;}
code { color: #1565C0; font-family: "Google Sans Code", monospace; }
cikti { color: #CD2626; font-family: "Google Sans Code", monospace; }

a { color: #1976D2}

tag {
	color: #fff;
	background-color: #F8BBD0;
	padding-left: 4px;
	padding-right: 5px;
}

.cikti-etiket { font-weight: bold; margin-top: 30px; display: block; }

.baslik {
    background-color: #e3f2fd;           /* açık mavi */
    margin: 0 -20px 2.5rem -20px;        /* kenar boşluklarını kırıyoruz */
    padding: 2.5rem 20px 2rem 20px;      /* iç boşluk */
    border-bottom: 1px solid #bbdefb;
    text-align: center;
}

.baslik-section h1 {
    color: #1565c0;
    margin-bottom: 0.4rem;
}

.baslik .altbaslik {
    color: #424242;
    font-size: 1em;
    margin-top: 3px;
	margin-bottom: 3px;
    opacity: 0.95;
}

.icerik {
max-width: 900px;
margin-left: 200px;
}
